<!-- 1 column layout with 10px spacing -->
<table width="600" cellpadding="0" cellspacing="0" align="left">
  <tr>
    <td width="600">
      <p>Hi [[[NAME]]],</p>
      <p>Thank you for staying at the hostel. It was really nice to meet you and I hope you enjoyed your time here in Devon.</p>
      <p>Travelling is good to keep your mind sharp so I hope your adventures continue. Don't forget that BlogsHostel is your second home and you'll always be welcome here if you want to return.</p>
      <p>If you have some time in between your busy travels please could you take some minutes to <a href="http://www.BlogsHostel.com/review">leave the BlogsHostel a review</a>. Every review helps interesting people like you to find the BlogsHostel so I would really appreciate it if you shared your experience.</p>
      <p>Please feel free to keep in touch with me or send me some pictures from your travel.</p>
      <p>Fred at BlogsHostel</p>
      <p>Review Link: http://www.BlogsHostel.com/review</p>
    </td>
  </tr>
</table>
